# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/migrations/*/.migration
prisma/seed.ts

*.db
*.db-journal

# Uploads
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Personal-Doc
*.md
!README.md
test-*.json
